@charset "UTF-8";

#header {
	position:fixed;
	left:0px;
	margin-left:0px;
	right:0px;
	top:0px;
	height:72px;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
	
	z-index:10;
}

#logo {
	/*background-size:77px 70px;*/
	background-size:50px 55px;
	float:left;
	width:184px;
	height:56px;
	margin:6px 16px;
	padding-top:0px;
	padding-left:56px;
	font-size:40px;
	white-space:nowrap;
	overflow:hidden;
	text-decoration:none;
	
	   -webkit-border-top-left-radius:0px;
	      -moz-border-top-left-radius:0px;
	           border-top-left-radius:0px;
	  -webkit-border-top-right-radius:0px;
	     -moz-border-top-right-radius:0px;
	          border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	   -moz-border-bottom-left-radius:0px;
	        border-bottom-left-radius:0px;
	
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}
@media (max-width:945px) {
	#logo {
		background-size:25px 28px;
		width:72px;
		height:30px;
		padding-top:2px;
		padding-left:29px;
		margin:0px 6px;
		font-size:18px;
	}
}
@media (max-width:645px) {
	#logo {
		background-size:23px 25px;
		padding-left:26px;
		margin:0px 2px 0px 4px;
		width:0px;
	}
}

#sections {
	margin-left:192px;
	margin-right:2px;
	margin-top:0px;
	padding:0px 4px 4px;
	
	font-size:15px;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}
#sections a {
	text-decoration:none;
	display:inline-block;
	
	font-size:14px;
	padding:6px 10px 7px;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
	
	 -webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	    -moz-border-bottom-left-radius:4px;
	   -moz-border-bottom-right-radius:4px;
	         border-bottom-left-radius:4px;
	        border-bottom-right-radius:4px;
}
#sections a:hover {
	background-color:rgba(128,128,128,0.1);
}
#sections a img {
	vertical-align:bottom;
}
@media (max-width:945px) {
	#sections {
		font-size:13px;
		padding:0px 1px 1px;
		margin-right:0px;
		margin-left:140px;
	}
	#sections a {
		padding:5px 8px 6px;
	}
}
@media (max-width:765px) {
	#sections {
		margin-left:120px;
	}
	#sections a {
		font-size:12px;
	}
}
@media (max-width:680px) {
	#sections {
		margin-left:0px;
	}
	#sections a {
		font-size:11px;
	}
}
@media (max-width:570px) {
	#sections {
		margin-left:0px;
	}
	#sections a {
		font-size:12px;
		width:16px;
		white-space:nowrap;
		overflow:hidden;
		color:transparent !important;
	}
}

#searchContainer {
	margin-left:280px;
}
#searchContainer div {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	display:inline-block;
	width:500px;
}
#searchContainer div input[type="search"] {
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box;
	width:100%;
}
@media (max-width:945px) {
	#searchContainer {
		margin-left:2px;
		margin-right:2px;
	}
	#searchContainer div {
		display:block;
		/*width:100%;*/
		width:auto;
		margin-right:56px;
		-webkit-appearance:none;
		/*padding-right:56px;*/
	}
	#searchContainer button[type="submit"] {
		float:right;
		width:52px;
		padding-left:0px;
		padding-right:0px;
		margin-top:-28px;
	}
}
