ul.menu {
	list-style-type:none;
	list-style-position:inside;
	-webkit-padding-start:0px;
	   -moz-padding-start:0px;
	    -ms-padding-start:0px;
	     -o-padding-start:0px;
	        padding-start:0px;
}
ul.menu li a {
	display:block;
	width:auto;
	height:100%;
	padding:8px 8px;
	text-decoration:none; 
	background-image:none;
	
	/* no focus shadow */
	-moz-box-shadow:none;
	     box-shadow:none;
}
.menu li a img {
	vertical-align:bottom;
}
