<!DOCTYPE HTML>
<html>
	<head>
		<!-- zoom in mobile browsers -->
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.25,user-scalable=0">
		
		<!-- Removes the Safari toolbars in iOS -->
		<!-- Leaving commented out for now because of a bug -->
		<!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->

		<title><%- pageTitle %> - TJ Intranet</title>

		<link rel="apple-touch-icon-precomposed" href="/public/images/icons/apple-touch-icon-57x57-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/public/images/icons/apple-touch-icon-72x72-precomposed.png" />
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/public/images/icons/apple-touch-icon-114x114-precomposed.png" />

		<link rel="stylesheet" type="text/css" href="/public/css/fire.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/ui.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default/login.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/ui.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/light/login.css" />
	</head>
	<body style="background-image:url(/public/images/backgrounds/gnome3.jpg);background-size:cover;background-attachment:fixed;">
		<div id="loginPane">
			<a id="logo" href="">Intranet</a>
			<br />
			<br />
			<br />
			<br />
			<% if(loginFail) { %>
				<span style="color:darkRed;">Username and password do not match</span>
				<br />
				<br />
			<% } %>
			<form method="post" action="/user/login">
				<label for="username">Username</label>
				<br />
				<input type="text" name="uname" id="username" />
				<br />
				<br />
				<label for="password">Password</label>
				<br />
				<input type="password" name="passwd" id="password" />
				<br />
				<br />
				<button type="submit">Login</button>
			</form>
		</div>
	</body>
</html>
