<html>
  <head>
		<title><%- pageTitle %></title>
	</head>
  <body>
		<div>
			Login Page for <%- uname %>
      <form method="post" action="/user/login">
        <button type="submit">Log in</button>
      </form>
    </div>
  </body>
</html>