!!!5
html(lang = "en")
	head
		title= pageTitle
	body
		h1 Jade - node template engine
		#container
			p= uname
			form(method='post', action='/user/login')
				input(type='text', name='uname')
				input(type='text', name='passwd')
				button(type='submit')