.intrabox {
	border-top-style:solid;
	border-top-width:1px;
	border-top-color:#151530;
}

.intrabox:hover {
	background-image:-webkit-linear-gradient(#151530, rgba(0,0,0,0.1) 30px);
	background-image:   -moz-linear-gradient(#151530, rgba(0,0,0,0.1) 30px);
	background-image:    -ms-linear-gradient(#151530, rgba(0,0,0,0.1) 30px);
	background-image:     -o-linear-gradient(#151530, rgba(0,0,0,0.1) 30px);
	background-image:        linear-gradient(#151530, rgba(0,0,0,0.1) 30px);
}
