@charset "UTF-8";

body {
	color:#EAEAEA;
	background-color:#0A0A0A;
}

a {
	color:#6068FF;
}
a:visited {
	color:#6068FF;
}
a:active {
	color:#F04040;
	box-shadow:none;
}

button, input[type="button"], input[type="submit"], input[type="reset"], input[type="radio"], input[type="checkbox"], select:not([size]), select[size="1"] {
	background-color:#202020;
	background-image:-webkit-linear-gradient(#303030, #202020);
	background-image:   -moz-linear-gradient(#303030, #202020);
	background-image:    -ms-linear-gradient(#303030, #202020);
	background-image:     -o-linear-gradient(#303030, #202020);
	background-image:        linear-gradient(#303030, #202020);
	border-color:#131313;
	border-top-color:#343434;
	
	/*box-shadow:0px 1px 0px 0px rgba(0,0,0,0.2);*/
	
	text-shadow:0px -1px 0px black;
	
	color:#FDFDFD;
}
input[type="radio"]:checked {
	background-image:url(/images/themes/dark/radiodot.png), -webkit-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/radiodot.png),    -moz-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/radiodot.png),     -ms-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/radiodot.png),      -o-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/radiodot.png),         linear-gradient(#303030, #202020);
}
input[type="checkbox"]:checked {
	background-image:url(/images/themes/dark/check.png), -webkit-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/check.png),    -moz-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/check.png),     -ms-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/check.png),      -o-linear-gradient(#303030, #202020);
	background-image:url(/images/themes/dark/check.png),         linear-gradient(#303030, #202020);
	background-repeat:no-repeat;
	background-position:1px -1px;
}

button:hover:enabled, input[type=button]:hover:enabled, input[type=submit]:hover:enabled, input[type=reset]:hover:enabled, input[type=radio]:hover:enabled, input[type=checkbox]:hover:enabled, select:not([size]):hover:enabled, select[size="1"]:hover:enabled, button:focus:enabled, input[type=button]:focus:enabled, input[type=submit]:focus:enabled, input[type=reset]:focus:enabled, input[type=radio]:focus:enabled, input[type=checkbox]:focus:enabled, select:not([size]):focus:enabled, select[size="1"]:focus:enabled {
	background-color:#282828;
	/*background-image:-webkit-linear-gradient(#E9E9F0, #D8D8F0);
	border-color:#CACAFF;*/
	background-image:-webkit-linear-gradient(#353535, #282828);
	background-image:   -moz-linear-gradient(#353535, #282828);
	background-image:    -ms-linear-gradient(#353535, #282828);
	background-image:     -o-linear-gradient(#353535, #282828);
	background-image:        linear-gradient(#353535, #282828);
}
input[type="radio"]:checked:hover:enabled, input[type="radio"]:checked:focus:enabled {
	background-image:url(/images/themes/dark/radiodot.png), -webkit-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/radiodot.png),    -moz-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/radiodot.png),     -ms-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/radiodot.png),      -o-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/radiodot.png),         linear-gradient(#353535, #282828);
}
input[type="checkbox"]:checked:hover:enabled, input[type="checkbox"]:checked:focus:enabled {
	background-image:url(/images/themes/dark/check.png), -webkit-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/check.png),    -moz-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/check.png),     -ms-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/check.png),      -o-linear-gradient(#353535, #282828);
	background-image:url(/images/themes/dark/check.png),         linear-gradient(#353535, #282828);
}

button:active:enabled, input[type=button]:active:enabled, input[type=submit]:active:enabled, input[type=reset]:active:enabled,
button.active:enabled, input[type=button].active:enabled, input[type=submit].active:enabled, input[type=reset].active:enabled,
input[type=radio]:active:enabled, input[type=checkbox]:active:enabled, select:not([size]):active:enabled, select[size="1"]:active:enabled {
	background-color:#1C1C1C;
	background-image:-webkit-linear-gradient(#181818, #202020);
	background-image:   -moz-linear-gradient(#181818, #202020);
	background-image:    -ms-linear-gradient(#181818, #202020);
	background-image:     -o-linear-gradient(#181818, #202020);
	background-image:        linear-gradient(#181818, #202020);
	-webkit-box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	   -moz-box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	        box-shadow:inset 0px 0px 3px 0px rgba(0,0,0,0.8);
	border-color:rgba(0,0,0,0.7);
	border-bottom-color:rgba(0,0,0,0.3);
}
input[type="radio"]:checked:active:enabled {
	background-image:url(/images/themes/dark/radiodot.png), -webkit-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/radiodot.png),    -moz-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/radiodot.png),     -ms-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/radiodot.png),      -o-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/radiodot.png),         linear-gradient(#181818, #202020);
}
input[type="checkbox"]:checked:active:enabled {
	background-image:url(/images/themes/dark/check.png), -webkit-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/check.png),    -moz-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/check.png),     -ms-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/check.png),      -o-linear-gradient(#181818, #202020);
	background-image:url(/images/themes/dark/check.png),         linear-gradient(#181818, #202020);
}


input:not([type]), input[type=text], input[type=email], input[type=search], input[type=password], textarea, select[size]:not([size="1"]) {
	/*background-color:#202020;
	background-color:rgba(200,200,200,0.07);*/
	border-color:#EAEAEA;
	
	color:#EAEAEA;
}
*:focus {
	/*outline-color:rgba(0,128,256,0.5);
	outline-style:solid;
	outline-offset:-1px;*/
	-webkit-box-shadow:0px 0px 1px 1px rgba(0,128,255,0.5);
	   -moz-box-shadow:0px 0px 1px 1px rgba(0,128,255,0.5);
	        box-shadow:0px 0px 1px 1px rgba(0,128,255,0.5);
}
input:not([type]):focus, input[type="text"]:focus, input[type="email"]:focus, input[type="search"]:focus, input[type="password"]:focus, textarea:focus, select[size]:not([size="1"]):focus {
	border-color:#6068FF;
	/*border-style:solid;
	border-width:1px;*/
}
button:disabled, input:disabled, textarea:disabled, select:disabled {
	color:#E0E0E0;
}
