.menu li a:hover, .menu li a:focus {
	background-color:#E6E6E6;
	background-image:-webkit-linear-gradient(left, #E6E6E6, #F0F0F0 10%);
	background-image:   -moz-linear-gradient(left, #E6E6E6, #F0F0F0 10%);
	background-image:    -ms-linear-gradient(left, #E6E6E6, #F0F0F0 10%);
	background-image:     -o-linear-gradient(left, #E6E6E6, #F0F0F0 10%);
	background-image:        linear-gradient(left, #E6E6E6, #F0F0F0 10%);
}
.menu li a:active {
	background-color:#E4E4E4;
	background-image:-webkit-linear-gradient(left, #E4E4E4, #F0F0F0 30%);
	background-image:   -moz-linear-gradient(left, #E4E4E4, #F0F0F0 30%);
	background-image:    -ms-linear-gradient(left, #E4E4E4, #F0F0F0 30%);
	background-image:     -o-linear-gradient(left, #E4E4E4, #F0F0F0 30%);
	background-image:        linear-gradient(left, #E4E4E4, #F0F0F0 30%);
}
.menu li.selected a {
	background-color:#E0E0FF;
	background-image:-webkit-linear-gradient(left, #E0E0FF, #F0F0F0 50%);
	background-image:   -moz-linear-gradient(left, #E0E0FF, #F0F0F0 50%);
	background-image:    -ms-linear-gradient(left, #E0E0FF, #F0F0F0 50%);
	background-image:     -o-linear-gradient(left, #E0E0FF, #F0F0F0 50%);
	background-image:        linear-gradient(left, #E0E0FF, #F0F0F0 50%);
}

ul.grid li {
	background-color:#E4E4E4;
}
ul.grid li > a {
	/*color:#5A5AA0;*/
}
ul.grid li > a:hover {
	background-color:#F6F6F6;
}
