<div class="newsPost">
	<header><!--title--></header>
	<aside>Posted on <!--date--> by <!--user|club|class--> <a href="something">Details</a></aside>
	<aside id="newsDetails">Posted by <!--user-->, approved by <!--sponsor--> and <!--admin--></aside>
	<article><!--body--></article>
	<footer>
		<a href="#" id="likeButton">Like</a>
		<!--likeCount--> people liked this
		|
		<a href="#">Keep unread</a>
		|
		<a href="#">Collapse</a>
	</footer>
</div>
