#intraboxes {
	position:fixed;
	width:256px;
	top:76px;
	left:1px;
	bottom:0px;
	
	padding:2px 5px 2px 3px;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
	
	z-index:1;
	
	overflow:auto;
	overflow-x:hidden;
}
@media (max-width:930px) {
	#intraboxes {
		left:-300px;
	}
}
@media (max-width:790px) {
	#intraboxes {
		display:none;
	}
}
@media (min-width:930px) {
	#intraboxes {
		padding-left:6px;
		padding-right:14px;
	}
}

.intrabox {
	
	padding:2px 4px;
	margin-bottom:10px;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}
.intraboxHeader {
	font-size:12px;
	
	overflow:hidden;
	/*height:0px;
	margin-bottom:21px;*/
	margin-bottom:-4px;
	
	opacity:0;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}
.intrabox:hover {
	-webkit-border-radius:4px;
	   -moz-border-radius:4px;
	        border-radius:4px;
}
.intrabox:hover .intraboxHeader {
	/*height:14px;
	margin-bottom:0px;*/
	opacity:1;
}

.intraboxControls {
	float:right;
}
.intraboxControls button {
	background:none;
	border:0px none transparent;
	-webkit-box-shadow:none;
	   -moz-box-shadow:none;
	        box-shadow:none;
	
	padding:2px;
	
	cursor:pointer;
}

.intraboxContent {
	margin-top:0.6em;
	margin-bottom:0.6em;
	
	overflow:hidden;
	
	-webkit-transition-duration:0.2s;
	   -moz-transition-duration:0.2s;
	    -ms-transition-duration:0.2s;
	     -o-transition-duration:0.2s;
	        transition-duration:0.2s;
}
.intrabox.collapsed {
	margin-bottom:-10px;
}
.intrabox.collapsed .intraboxHeader {
	opacity:0.5;
}
.intrabox.collapsed .intraboxContent {
	height:0px;
}
