<div id="header">
	<a id="logo" href="/home">Intranet</a>
	<div id="sections">
		<a href="/news" class="section"><img src="/static/images/themes/[theme]/modules/news.png" alt="" /> News</a>
		<a href="/polls" class="section"><img src="/static/images/themes/[theme]/modules/polls.png" alt="" /> Polls</a>
		<a href="/eighth" class="section"><img src="/static/images/themes/[theme]/modules/eighth.png" alt="" /> Eighth</a>
		<a href="/groups" class="section"><img src="/static/images/themes/[theme]/modules/groups.png" alt="" /> Groups</a>
		<a href="/calendar" class="section"><img src="/static/images/themes/[theme]/modules/calendar.png" alt="" /> Calendar</a>
		<span style="float:right;">
				<a href="/prefs"><img src="/static/images/themes/[theme]/modules/prefs.png" alt="" /> Preferences</a>
				<a href="/user/logout"><img src="[prof_pic_url]" alt="" /> [Name]</a>
		</span>
	</div>
	<div id="searchContainer">
		<div>
			<input type="search" results="0" placeholder="OMG Search Box!" name="q" />
		</div>
		<button type="submit">Search</button>
	</div>
</div>
