<div id="header">
	<a id="logo" href="/home">Intranet</a>
	<div id="sections">
		<a href="/news" class="section"><img src="/static/images/icons/modules/news.png" alt="" /> News</a>
		<a href="/polls" class="section"><img src="/static/images/icons/modules/polls.png" alt="" /> Polls</a>
		<a href="/eighth" class="section"><img src="/static/images/icons/modules/eighth.png" alt="" /> Eighth</a>
		<a href="/groups" class="section"><img src="/static/images/icons/modules/groups.png" alt="" /> Groups</a>
		<a href="/calendar" class="section"><img src="/static/images/icons/modules/calendar.png" alt="" /> Calendar</a>
		<a href="/user/logout" style="float:right;">Log out</a>
		<a href="/prefs" style="float:right;"><img src="/static/images/icons/modules/prefs.png" alt="" /> Preferences</a>
	</div>
	<div id="searchContainer">
		<div>
			<input type="search" results="0" placeholder="OMG Search Box!" name="q" />
		</div>
		<button type="submit">Search</button>
	</div>
</div>
