				<br>
				<header style="font-size:110%;font-weight:bold;">What is happening</header>
				<table border="1" cellspacing="0" cellpadding="4" style="width:100%;">
					<tbody><tr class="calendarWeek">
						<th>Sunday</th>
						<th>Monday</th>
						<th>Tuesday</th>
						<th>Wednesday</th>
						<th>Thursday</th>
						<th>Friday</th>
						<th>Saturday</th>
					</tr>
					<tr class="calendarWeek" style="height:96px;">
						<td>
							11pm - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Start homework</a>
						</td>
						<td>
							<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Anchor Day</a>
							<br>
							12am - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Everybody hates Mondays</a>
						</td>
						<td>
							<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Blue Day</a>
						</td>
						<td>
							<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Red Day</a>
							<br>
							12am - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Wednesdays are useless</a>
						</td>
						<td>
							<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Light Blue Day</a>
						</td>
						<td>
							<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Red Day</a>
							<br>
							12am - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">It's Friday, not to be confused with Fryeedayee</a>
							<br>
							4pm - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">No school until Monday!</a>
						</td>
						<td id="today">
							12pm - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Consider waking up</a>
							<br>
							6pm - <a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Weekend-y stuff happening</a>
						</td>
					</tr>
				</tbody></table>
				<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Full calendar →</a>
				<br>
				<br>
				<div class="homeBox" id="eighthBox">
					<header>The next eighth period is 2012-01-04</header>
					<br>
					You are currently signed up for:
					<table>
						<tbody><tr>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">ASDF club</a></td>
							<td>Room 116</td>
							<td>A block</td>
						</tr>
						<tr>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">AOEU club</a></td>
							<td>Room 115</td>
							<td>B block</td>
						</tr>
					</tbody></table>
					<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Eighth period schedule →</a>
				</div>
				<div class="homeBox" id="newsBox">
					<header>Latest news</header>
					<ul>
						<li><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Free food!</a></li>
						<li><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Look at my news post, my news post is amazing.</a></li>
						<li><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">This news posting is not amazing, and does not taste like rasins</a></li>
						<li><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Moar newspost!</a></li>
					</ul>
					<a href="http://www.tjhsst.edu/~2012zyaro/i3/news.php">All news →</a>
				</div>
				<div class="homeBox" id="newsBox">
					<header>Birthdays</header>
					<br>
					<strong>Today:</strong>
					<table>
						<tbody><tr>
							<th></th>
							<th>Name</th>
							<th>Age</th>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/unknown.jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">John Doe</a></td>
							<td>15</td>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/unknown.jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Firstname Last</a></td>
							<td>16</td>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/unknown.jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Firstname Last</a></td>
							<td>17</td>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/unknown.jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Firstname Last</a></td>
							<td>18</td>
						</tr>
					</tbody></table>
					<strong>Tomorrow:</strong>
					<table>
						<tbody><tr>
							<th></th>
							<th>Name</th>
							<th>Age</th>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/photo.jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Zachary Yaro</a></td>
							<td>15</td>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/photo(1).jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">John Renner</a></td>
							<td>16</td>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/photo(2).jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Derek Morris</a></td>
							<td>17</td>
						</tr>
						<tr>
							<td><img src="./Home - TJ Intranet_files/photo(3).jpg" style="width:16px;height:16px;"></td>
							<td><a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">Andrew Hamilton</a></td>
							<td>18</td>
						</tr>
					</tbody></table>
					<a href="http://www.tjhsst.edu/~2012zyaro/i3/home.php#">More birthdays →</a>
				</div>