<div class="intrabox">
	<div class="intraboxHeader">
		<!-- box title goes here -->
		<div class="intraboxControls">
			<button>▴</button>
			<button>▾</button>
			<button onclick="parentElement.parentElement.parentElement.classList.toggle('collapsed');">&minus;</button>
			<button onclick="parentElement.parentElement.parentElement.parentElement.removeChild(parentElement.parentElement.parentElement);">&times;</button>
		</div>
	</div>
	<div class="intraboxContent">
		<!-- box content goes here -->
	</div>
</div>
